div{
    margin: 0px;
}

h1,h3{
    text-align: center;
}

body{
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 93vh;
}

#box{
    height: 75vh;
    width: 30vw;
    margin: 0px auto;
    margin-top: 40px;
    background-color: lightgray;
    border-radius: 1rem;
}

#result{
    width: 100%;
    height: 20%;
    /* background-color: lightsalmon; */
    padding: 20px 5px;
    box-sizing: border-box;
    /* position: relative; */
    text-align: end;
    font-size: 38px;
    overflow-x:auto;
    overflow-y: hidden;
}

#pad{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightgray;
}

.pos{
    width: 24%;
    height: 19%;
    border: 1px solid lightgrey;
    text-align: center;
    font-size: 32px;
    padding-top: .7em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: white;
}

.z{
    width: 49%;
}

.pos:hover{
    background-color: #FFC877;
}

.red-col{
    background-color: #C4473C;
}

@media(max-width:700px){
    #box{
        width: 45vw;
    }
}

@media(max-width:450px){
    #box{
        width: 70vw;
    }
}

@media(max-height: 550px){
    #box{
        width: 60vw;
    }
}

@media(max-height:450px){
    .pos{
        padding-top: 0px;
    }
    #result{
        padding-top: 0px;
    }
}